.vi-container{
    padding: 6rem 3rem 6rem 3rem;
    /* padding-left: 13rem; */
    background-color: rgba(255, 255, 255, 0.719);
}

/* .vi-container:nth-child(even){
    background-color: grey;
} */

.banner {
    width: 100%;
}


.vi-row{
    /* padding-bottom: 3vh; */
    position: relative; 
    overflow: hidden;
    padding: 0.5em; 
    height: auto;
    margin-bottom: 3%;
    background-color: rgba(198, 166, 187, 0.1);
}

.vi-question{
    font-size: 25px;
    color: rgba(75,69,69,255);
    /* background-image: linear-gradient(to right, rgb(9, 99, 54) , rgba(255, 255, 255, 0)); */
    /* background-color: green ; */
    padding: 0.5em; 
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 10px;
    font-weight: 550;
}

.trending {
    /* background-color: rgb(100, 100, 100); */
    color: rgb(255, 255, 255);
    /* background-image: linear-gradient(to right, rgb(231, 223, 103) , rgb(122, 181, 236)); */
    background-color: rgba(41,90,119,255);
    padding: 0 0.5em 0 0.5em;
    border-radius: 5px;
    margin-right: 0.5em;
    font-weight: 400;
}

/* .vi-thumbnail{
    display: flex;
    width: 79vw;
    height: 20vh;
    justify-content: space-evenly;
    position: relative;
    width: 100%;
    height: 150px;
    overflow: hidden;
} */

.vi-img-wrapper {
    padding: 1.5em; 
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    flex-wrap: nowrap;
}

.vi-img-wrapper::-webkit-scrollbar {
    display: none;
}

.vi-img-container{
    /* transition: margin 0.2s ease-in-out;
    min-width: 30em;
    height: 95%; */
    flex: 0 0 auto;
    width: 300px;
    height: auto;
    margin-right: 20px;
    transition: all 0.3s ease-in-out ;
    /* transition-delay: 0.2s; */
    background-image: url(../../../public/comming.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: gray;
    margin: 0.5em;
}


.vi-img-container:hover{
    /* margin-top: -1.25vh; */
    transform: scale(1.1);
}

.vi-img-container:hover :nth-child(1){
    transform-origin: left;
}



.vi-img{
    /* background-color: blue; */
    /* width: 97%;
    height: 100%;
    border-radius: 5%; */
    /* position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden; */
    width: 100%;
    height: 100%;
    object-fit: cover;
}



/* .previous-button, 
.next-button {
    border: none; 
    width: 3em;
    height: 30%;
    position: absolute; 
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 9;
    background-color: rgba(163, 163, 163, 0.466);
}

.previous-button {
    left: 0; 
}

.next-button {
    right: 0;
} */

